<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.descendant.system.purplehaze.overlay"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android" android:priority="1"/>

    <application android:label="@string/system_overlay_purplehaze" android:hasCode="false"/>
</manifest>

