<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.descendant.UI.android.square"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
        android:priority="1"
        android:isStatic="false" />
</manifest>

